# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
install
 
#### IMPORTANT! Be sure to change the ftp ip address to match the management node of your cluster
url --url ftp://ftp:ftp@192.168.95.1/pub
 
# Network information
network  --bootproto=dhcp --device=em1 --onboot=on --ipv6=auto --no-activate
#network  --bootproto=dhcp --device=em2 --onboot=off --ipv6=auto
#network  --bootproto=dhcp --device=em3 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
 
# Root password
rootpw --iscrypted $6$/x2suV5xf2393cIU$3SStWjAsGCYAZeiNE/WOsKQUQk0vmwkKW8YVdRZEA5sjyc5/FHpM1ufRRnpXr5CpRXlfNjg4CejTQiSbjmrff1
 
# System services
services --disabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --initlabel --all
# Disk partitioning information
autopart
reboot
 
%packages
@^minimal
@core
kexec-tools
tftp
vim
tar
bzip2
 
%end
 
%addon com_redhat_kdump --enable --reserve-mb='auto'
 
%end
 
%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post
rpm -Uvh https://yum.puppet.com/puppet6-release-el-7.noarch.rpm
yum -y install puppet
mkdir -p /opt/puppetlabs/puppet/manifests/boron
#echo boron1:/home /home nfs defaults 0 0 >> /etc/fstab
#mount /home
#mkdir /mnt/home
cd /opt/puppetlabs/puppet/manifests/boron
tftp 192.168.95.1 -m binary -c get boron.tar
tar -xf boron.tar
#scp e1:/opt/puppetlabs/puppet/manifests/boron2 /opt/puppetlabs/puppet/manifests
puppt apply boron3.pp
puppet apply /opt/puppetlabs/puppet/manifests/boron3/boron3.pp
%end
